<div>
    <h1 id="the-heading">Character Finder</h1>
            <div>
                <p>This project is about finding a information about marvel characters. With a given character we can get all this information from a marvel api and show it off with HTML, JavaScript, CSS</p>
                <form method ="POST" action = "/search">
                    <label for ="searchBar">Search </label>
                    <input id = "searchBar" name = "searchTerm" type="text" value="Search"> 
                    <input type = "submit" value = "search">
                </form>

            </div>
</div>