
        <ul>
        {{#each heroes}}  
           
                <li>
                    <a href="/characters/{{this.id}}">{{this.name}}</a>
                </li>
            
        {{/each}}
        </ul>
        <a class= "again" href = "/">Search again</a>

